## Assignment plan:
- Crawl the whole Wiki web page - `Done`;
- Crawl initial all links that lead to each films's individual web page - `Done`;
- Crawl the data for each film using Scrapy Spider `films_spider.py` as JSON file `films_v2_res.json` - `Done`;
- Clean the data and save it in an appropriate format - `Done`;
- Create a DB for storing all files;
...

In [676]:
# Import necessary dependencies
import scrapy
from urllib.parse import urljoin
from lxml import etree
import pandas as pd
import re

In [677]:
# Primary information source link
web_link = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
main_link = "https://en.wikipedia.org"

In [678]:
# Start a project with Scrapy
#! scrapy startproject wiki_parsing

### Get the links for each film

In [679]:
with open("/home/viper/Data_science/DWV/assignments/assignment_1/wiki_parsing/quotes-wiki.html", "r", encoding="utf-8") as file:
    html_content = file.read()

# Parse the HTML content
tree = etree.HTML(html_content)

table = tree.xpath('//table[contains(@class, "wikitable plainrowheaders")]')[1] # We need the second table that is sorted by year
rows = table.xpath('.//tr')


for row in rows:
    cells = row.xpath('.//td//i//a//@href')
    print(cells)

[]
['/wiki/The_Birth_of_a_Nation']
['/wiki/Intolerance_(film)']
['/wiki/Cleopatra_(1917_film)']
['/wiki/Mickey_(1918_film)']
['/wiki/The_Miracle_Man_(1919_film)']
['/wiki/Way_Down_East']
['/wiki/The_Four_Horsemen_of_the_Apocalypse_(film)']
['/wiki/Douglas_Fairbanks_in_Robin_Hood']
['/wiki/The_Covered_Wagon']
['/wiki/The_Sea_Hawk_(1924_film)']
['/wiki/The_Big_Parade']
['/wiki/Ben-Hur_(1925_film)']
['/wiki/For_Heaven%27s_Sake_(1926_film)']
['/wiki/Wings_(1927_film)']
['/wiki/The_Singing_Fool']
['/wiki/The_Broadway_Melody']
['/wiki/Sunny_Side_Up_(1929_film)']
['/wiki/All_Quiet_on_the_Western_Front_(1930_film)']
['/wiki/Frankenstein_(1931_film)']
['/wiki/City_Lights']
['/wiki/The_Sign_of_the_Cross_(1932_film)']
['/wiki/King_Kong_(1933_film)']
['/wiki/I%27m_No_Angel']
['/wiki/Cavalcade_(1933_film)']
['/wiki/She_Done_Him_Wrong']
['/wiki/The_Merry_Widow_(1934_film)']
['/wiki/It_Happened_One_Night']
['/wiki/Mutiny_on_the_Bounty_(1935_film)']
['/wiki/San_Francisco_(1936_film)']
['/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)']
['/wiki/You_Can%27t_Take_It_with_You_(film)']
['/wiki/Gone_with_the_Wind_(film)']
['/wiki/Pinocchio_(1940_film)']
['/wiki/Boom_Town_(film)']
['/wiki/Sergeant_York_(film)']
['/wiki/Bambi']
['/wiki/Mrs._Miniver']
['/wiki/For_Whom_the_Bell_Tolls_(film)']
['/wiki/This_Is_the_Army']
['/wiki/Going_My_Way']
['/wiki/Mom_and_Dad_(1945_film)']
['/wiki/The_Bells_of_St._Mary%27s']
['/wiki/Song_of_the_South']
['/wiki/The_Best_Years_of_Our_Lives']
['/wiki/Duel_in_the_Sun_(film)']
['/wiki/Forever_Amber_(film)']
['/wiki/Unconquered_(1947_film)']
['/wiki/Easter_Parade_(film)']
['/wiki/The_Red_Shoes_(1948_film)']
['/wiki/The_Snake_Pit']
['/wiki/Samson_and_Delilah_(1949_film)']
['/wiki/Cinderella_(1950_film)']
['/wiki/King_Solomon%27s_Mines_(1950_film)']
['/wiki/Quo_Vadis_(1951_film)']
['/wiki/This_Is_Cinerama']
['/wiki/The_Greatest_Show_on_Earth_(film)']
['/wiki/Peter_Pan_(1953_film)']
['/wiki/The_Robe_(film)']
['/wiki/Rear_Window']
['/wiki/White_Christmas_(film)']
['/wiki/20,000_Leagues_Under_the_Sea_(1954_film)']
['/wiki/Lady_and_the_Tramp']
['/wiki/Cinerama_Holiday']
['/wiki/Mister_Roberts_(1955_film)']
['/wiki/The_Ten_Commandments_(1956_film)']
['/wiki/The_Bridge_on_the_River_Kwai']
['/wiki/South_Pacific_(1958_film)']
['/wiki/Ben-Hur_(1959_film)']
['/wiki/Swiss_Family_Robinson_(1960_film)']
['/wiki/Spartacus_(film)']
['/wiki/Psycho_(1960_film)']
['/wiki/One_Hundred_and_One_Dalmatians']
['/wiki/West_Side_Story_(1961_film)']
['/wiki/Lawrence_of_Arabia_(film)']
['/wiki/How_the_West_Was_Won_(film)']
['/wiki/The_Longest_Day_(film)']
['/wiki/Cleopatra_(1963_film)']
['/wiki/From_Russia_with_Love_(film)']
['/wiki/My_Fair_Lady_(film)']
['/wiki/Goldfinger_(film)']
['/wiki/Mary_Poppins_(film)']
['/wiki/The_Sound_of_Music_(film)']
['/wiki/The_Bible:_In_the_Beginning']
['/wiki/Hawaii_(1966_film)']
['/wiki/Who%27s_Afraid_of_Virginia_Woolf%3F_(film)']
['/wiki/The_Jungle_Book_(1967_film)']
['/wiki/The_Graduate']
['/wiki/2001:_A_Space_Odyssey']
['/wiki/Funny_Girl_(film)']
['/wiki/Butch_Cassidy_and_the_Sundance_Kid']
['/wiki/Love_Story_(1970_film)']
['/wiki/The_French_Connection_(film)']
['/wiki/Fiddler_on_the_Roof_(film)']
['/wiki/Diamonds_Are_Forever_(film)']
['/wiki/The_Godfather']
['/wiki/The_Exorcist']
['/wiki/The_Sting']
['/wiki/The_Towering_Inferno']
['/wiki/Jaws_(film)']
['/wiki/Rocky']
['/wiki/Star_Wars_(film)']
['/wiki/Grease_(film)']
['/wiki/Moonraker_(film)']
['/wiki/Rocky_II']
['/wiki/The_Empire_Strikes_Back']
['/wiki/Raiders_of_the_Lost_Ark']
['/wiki/E.T._the_Extra-Terrestrial']
['/wiki/Return_of_the_Jedi']
['/wiki/Ghostbusters']
['/wiki/Back_to_the_Future']
['/wiki/Top_Gun']
['/wiki/Fatal_Attraction']
['/wiki/Rain_Man']
['/wiki/Indiana_Jones_and_the_Last_Crusade']
['/wiki/Ghost_(1990_film)']
['/wiki/Terminator_2:_Judgment_Day']
['/wiki/Aladdin_(1992_Disney_film)']
['/wiki/Jurassic_Park_(film)']
['/wiki/The_Lion_King']
['/wiki/Toy_Story']
['/wiki/Die_Hard_with_a_Vengeance']
['/wiki/Independence_Day_(1996_film)']
['/wiki/Titanic_(1997_film)']
['/wiki/Armageddon_(1998_film)']
['/wiki/Star_Wars:_Episode_I_%E2%80%93_The_Phantom_Menace']
['/wiki/Mission:_Impossible_2']
['/wiki/Harry_Potter_and_the_Philosopher%27s_Stone_(film)']
['/wiki/The_Lord_of_the_Rings:_The_Two_Towers']
['/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King']
['/wiki/Shrek_2']
['/wiki/Harry_Potter_and_the_Goblet_of_Fire_(film)']
['/wiki/Pirates_of_the_Caribbean:_Dead_Man%27s_Chest']
['/wiki/Pirates_of_the_Caribbean:_At_World%27s_End']
['/wiki/The_Dark_Knight']
['/wiki/Avatar_(2009_film)']
['/wiki/Toy_Story_3']
['/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2']
['/wiki/The_Avengers_(2012_film)']
['/wiki/Frozen_(2013_film)']
['/wiki/Transformers:_Age_of_Extinction']
['/wiki/Star_Wars:_The_Force_Awakens']
['/wiki/Captain_America:_Civil_War']
['/wiki/Star_Wars:_The_Last_Jedi']
['/wiki/Avengers:_Infinity_War']
['/wiki/Avengers:_Endgame']
['/wiki/Demon_Slayer:_Mugen_Train']
['/wiki/Spider-Man:_No_Way_Home']
['/wiki/Avatar:_The_Way_of_Water']
['/wiki/Barbie_(film)']
['/wiki/Inside_Out_2']
[]

In [680]:
len(rows)

152

### Create a spider to parse all the main information about each film (Saved as `films_spider.py`)

In [681]:
class FilmsSpider(scrapy.Spider):
    name = "films_v2"
    start_urls = [
        "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
    ]

    def parse(self, response):
        # Extract all film links from the second table with films by year
        table = response.xpath('//table[contains(@class, "wikitable plainrowheaders")]')[1]
        rows = table.xpath(".//tr")
        film_links = []
        for row in rows:
            res = row.xpath('.//td//i//a//@href').getall()
            if len(res) == 0:
                continue
            else:
                film_links.append(res[0])

        # Get data from each film link
        for link in film_links:
            absolute_url = urljoin("https://en.wikipedia.org", link)
            yield scrapy.Request(url=absolute_url, callback=self.parse_film_page)

    def parse_film_page(self, response):
        info_table = response.xpath('//table[contains(@class, "infobox")]')
        data = {
            "title": info_table.xpath('.//th[contains(@class, "infobox-above")]//text()').get(),
            "directed_by": info_table.xpath('.//th[contains(text(), "Directed by")]/following-sibling::td//text()').getall(),
            "screenplay_by": info_table.xpath('.//th[contains(text(), "Screenplay by")]/following-sibling::td//text()').getall(),
            "based_on": info_table.xpath('.//th[contains(text(), "Based on")]/following-sibling::td//text()').getall(),
            "produced_by": info_table.xpath('.//th[contains(text(), "Produced by")]/following-sibling::td//text()').getall(),
            "starring": info_table.xpath('.//th[contains(text(), "Starring")]/following-sibling::td//text()').getall(),
            "release_date": info_table.xpath('.//th[contains(text(), "Release date")]/following-sibling::td//text()').get(),
            "country": info_table.xpath('.//th[contains(text(), "Country")]/following-sibling::td//text()').getall(),
            "budget": info_table.xpath('.//th[contains(text(), "Budget")]/following-sibling::td//text()').getall(),
            "box_office": info_table.xpath('.//th[contains(text(), "Box office")]/following-sibling::td//text()').getall(),
        }

        yield data

### Read the data from JSON file and clean it

In [682]:
df = pd.read_json("wiki_parsing/films_v2_res.json")
df

,title,directed_by,screenplay_by,based_on,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[.mw-parser-output .plainlist ol,.mw-parser-ou...","[The Clansman, by , Thomas Dixon Jr.]","[D. W. Griffith, Harry Aitken, [, 1, ]]","[\n, Lillian Gish, \n, Mae Marsh, \n, Henry B....",[],[United States],"[$100,000+, [, 3, ]]","[$50–100 million, [, 4, ]]"
1,The Greatest Show on Earth,[Cecil B. DeMille],"[.mw-parser-output .plainlist ol,.mw-parser-ou...",[],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",[],[United States],"[$4 million, [, 1, ]]","[$36 million, [, 1, ]]"
2,This Is Cinerama,"[.mw-parser-output .plainlist ol,.mw-parser-ou...",[],[],"[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],[],[United States],[$1 million],"[$41.6 million, [, 2, ]]"
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[],[],[],"[Fred Troller, , Beatrice Troller , John Mars...",[],[United States],"[$1.5 million, [, 1, ]]","[$29.6 million , [, 2, ]]"
4,The Robe,[Henry Koster],"[.mw-parser-output .plainlist ol,.mw-parser-ou...","[The Robe, by , Lloyd C. Douglas]",[Frank Ross],"[\n, Richard Burton, \n, Jean Simmons, \n, Vic...",[],[United States],"[$4.1 million, [, 1, ], – $4.6 million, [, 2, ]]","[$36 million (United States), [, 3, ]]"
...,...,...,...,...,...,...,...,...,...,...
145,Cleopatra,[J. Gordon Edwards],[Adrian Johnson],"[Cleopatra, 1889 novel, by , H. Rider Haggard]",[William Fox],"[Theda Bara, Fritz Leiber Sr., Thurston Hall]",[],[United States],"[$250,000–500,000, [, 1, ]]","[$1 million, [, 1, ]]"
146,The Miracle Man,[George Loane Tucker],[],"[The Miracle Man, (play), by , George M. Cohan]",[George Loane Tucker],"[Thomas Meighan, Betty Compson, Lon Chaney, Jo...",[],[United States],"[$120,000]","[$1 million (rentals), [, 1, ], or $2 million..."
147,The Four Horsemen of the Apocalypse,[Rex Ingram],[June Mathis],"[The Four Horsemen of the Apocalypse, 1916 nov...",[Rex Ingram],"[Pomeroy Cannon, Josef Swickard, Bridgetta Cla...",[],[United States],"[$800,000 or $1 million, [, 1, ]]","[$9.2 million, [, 2, ], or $4 million (world ..."
148,Mickey,"[F. Richard Jones, James Young]",[],[],"[Mabel Normand, Mack Sennett]",[Mabel Normand],[],[United States],"[$250,000]","[$16,450,000]"
149,Intolerance,[D. W. Griffith],[],[],[D. W. Griffith],"[Vera Lewis, Ralph Lewis, Mae Marsh, Robert Ha...",[],[United States],"[$385,907, [, 1, ]]","[$1.75 million , (, .mw-parser-output .tooltip..."

In [683]:
df.loc[0, 'screenplay_by']

['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
 'D. W. Griffith',
 'Frank E. Woods']

In [684]:
df.loc[:, 'release_date']

0      []
1      []
2      []
3      []
4      []
       ..
145    []
146    []
147    []
148    []
149    []
Name: release_date, Length: 150, dtype: object

As you can see, the most major problem right now - absense of the release date. It may happen due to 2 possible options as:
- Release date - if the film has one release date;
- Release dates - if the film has multiple release dates.

However, we can still parse this data from the inital table.

In [685]:
table = tree.xpath('//table[contains(@class, "wikitable plainrowheaders")]')[1] # We need the second table that is sorted by year
rows = table.xpath('.//tr')

release_years = []
for row in rows:
    cells = row.xpath('.//th//a//text()')
    release_years.append(cells)
    print(cells)

[]
['1915']
['1916']
['1917']
['1918']
['1919']
['1920']
['1921']
['1922']
['1923']
['1924']
['1925']
[]
['1926']
['1927']
['1928']
['1929']
[]
['1930']
['1931']
[]
['1932']
['1933']
[]
[]
[]
['1934']
[]
['1935']
['1936']
['1937']
['1938']
['1939']
['1940']
[]
['1941']
['1942']
[]
['1943']
[]
['1944']
['1945']
[]
['1946']
[]
[]
['1947']
[]
['1948']
[]
[]
['1949']
['1950']
[]
['1951']
['1952']
[]
['1953']
[]
['1954']
[]
[]
['1955']
[]
[]
['1956']
['1957']
['1958']
['1959']
['1960']
[]
[]
['1961']
[]
['1962']
[]
[]
['1963']
[]
['1964']
[]
[]
['1965']
['1966']
[]
[]
['1967']
[]
['1968']
[]
['1969']
['1970']
['1971']
[]
[]
['1972']
['1973']
[]
['1974']
['1975']
['1976']
['1977']
['1978']
['1979']
[]
['1980']
['1981']
['1982']
['1983']
['1984']
['1985']
['1986']
['1987']
['1988']
['1989']
['1990']
['1991']
['1992']
['1993']
['1994']
['1995']
[]
['1996']
['1997']
['1998']
['1999']
['2000']
['2001']
['2002']
['2003']
['2004']
['2005']
['2006']
['2007']
['2008']
['2009']
['2010']
['2011']
['2012']
['2013']
['2014']
['2015']
['2016']
['2017']
['2018']
['2019']
['2020']
['2021']
['2022']
['2023']
['2024']
['2025', 'Ne Zha 2']

In [686]:
# Delete the first empty element
release_years = release_years[1:]

As you can see from the list (and website itself), empty elements means that the previous year was used for the film with empty release date. Let's fix it.

In [687]:
last_release = None
for release_year_idx in range(len(release_years)):
    if len(release_years[release_year_idx]):
        last_release = release_years[release_year_idx]
    else:
        release_years[release_year_idx] = last_release
release_years

[['1915'],
 ['1916'],
 ['1917'],
 ['1918'],
 ['1919'],
 ['1920'],
 ['1921'],
 ['1922'],
 ['1923'],
 ['1924'],
 ['1925'],
 ['1925'],
 ['1926'],
 ['1927'],
 ['1928'],
 ['1929'],
 ['1929'],
 ['1930'],
 ['1931'],
 ['1931'],
 ['1932'],
 ['1933'],
 ['1933'],
 ['1933'],
 ['1933'],
 ['1934'],
 ['1934'],
 ['1935'],
 ['1936'],
 ['1937'],
 ['1938'],
 ['1939'],
 ['1940'],
 ['1940'],
 ['1941'],
 ['1942'],
 ['1942'],
 ['1943'],
 ['1943'],
 ['1944'],
 ['1945'],
 ['1945'],
 ['1946'],
 ['1946'],
 ['1946'],
 ['1947'],
 ['1947'],
 ['1948'],
 ['1948'],
 ['1948'],
 ['1949'],
 ['1950'],
 ['1950'],
 ['1951'],
 ['1952'],
 ['1952'],
 ['1953'],
 ['1953'],
 ['1954'],
 ['1954'],
 ['1954'],
 ['1955'],
 ['1955'],
 ['1955'],
 ['1956'],
 ['1957'],
 ['1958'],
 ['1959'],
 ['1960'],
 ['1960'],
 ['1960'],
 ['1961'],
 ['1961'],
 ['1962'],
 ['1962'],
 ['1962'],
 ['1963'],
 ['1963'],
 ['1964'],
 ['1964'],
 ['1964'],
 ['1965'],
 ['1966'],
 ['1966'],
 ['1966'],
 ['1967'],
 ['1967'],
 ['1968'],
 ['1968'],
 ['1969'],
 ['1970'],
 ['1971'],
 ['1971'],
 ['1971'],
 ['1972'],
 ['1973'],
 ['1973'],
 ['1974'],
 ['1975'],
 ['1976'],
 ['1977'],
 ['1978'],
 ['1979'],
 ['1979'],
 ['1980'],
 ['1981'],
 ['1982'],
 ['1983'],
 ['1984'],
 ['1985'],
 ['1986'],
 ['1987'],
 ['1988'],
 ['1989'],
 ['1990'],
 ['1991'],
 ['1992'],
 ['1993'],
 ['1994'],
 ['1995'],
 ['1995'],
 ['1996'],
 ['1997'],
 ['1998'],
 ['1999'],
 ['2000'],
 ['2001'],
 ['2002'],
 ['2003'],
 ['2004'],
 ['2005'],
 ['2006'],
 ['2007'],
 ['2008'],
 ['2009'],
 ['2010'],
 ['2011'],
 ['2012'],
 ['2013'],
 ['2014'],
 ['2015'],
 ['2016'],
 ['2017'],
 ['2018'],
 ['2019'],
 ['2020'],
 ['2021'],
 ['2022'],
 ['2023'],
 ['2024'],
 ['2025', 'Ne Zha 2']]

In [688]:
# Remove "Ne Zha 2" from the last element since we have no information about this film
release_years = release_years[:-1]
release_years

[['1915'],
 ['1916'],
 ['1917'],
 ['1918'],
 ['1919'],
 ['1920'],
 ['1921'],
 ['1922'],
 ['1923'],
 ['1924'],
 ['1925'],
 ['1925'],
 ['1926'],
 ['1927'],
 ['1928'],
 ['1929'],
 ['1929'],
 ['1930'],
 ['1931'],
 ['1931'],
 ['1932'],
 ['1933'],
 ['1933'],
 ['1933'],
 ['1933'],
 ['1934'],
 ['1934'],
 ['1935'],
 ['1936'],
 ['1937'],
 ['1938'],
 ['1939'],
 ['1940'],
 ['1940'],
 ['1941'],
 ['1942'],
 ['1942'],
 ['1943'],
 ['1943'],
 ['1944'],
 ['1945'],
 ['1945'],
 ['1946'],
 ['1946'],
 ['1946'],
 ['1947'],
 ['1947'],
 ['1948'],
 ['1948'],
 ['1948'],
 ['1949'],
 ['1950'],
 ['1950'],
 ['1951'],
 ['1952'],
 ['1952'],
 ['1953'],
 ['1953'],
 ['1954'],
 ['1954'],
 ['1954'],
 ['1955'],
 ['1955'],
 ['1955'],
 ['1956'],
 ['1957'],
 ['1958'],
 ['1959'],
 ['1960'],
 ['1960'],
 ['1960'],
 ['1961'],
 ['1961'],
 ['1962'],
 ['1962'],
 ['1962'],
 ['1963'],
 ['1963'],
 ['1964'],
 ['1964'],
 ['1964'],
 ['1965'],
 ['1966'],
 ['1966'],
 ['1966'],
 ['1967'],
 ['1967'],
 ['1968'],
 ['1968'],
 ['1969'],
 ['1970'],
 ['1971'],
 ['1971'],
 ['1971'],
 ['1972'],
 ['1973'],
 ['1973'],
 ['1974'],
 ['1975'],
 ['1976'],
 ['1977'],
 ['1978'],
 ['1979'],
 ['1979'],
 ['1980'],
 ['1981'],
 ['1982'],
 ['1983'],
 ['1984'],
 ['1985'],
 ['1986'],
 ['1987'],
 ['1988'],
 ['1989'],
 ['1990'],
 ['1991'],
 ['1992'],
 ['1993'],
 ['1994'],
 ['1995'],
 ['1995'],
 ['1996'],
 ['1997'],
 ['1998'],
 ['1999'],
 ['2000'],
 ['2001'],
 ['2002'],
 ['2003'],
 ['2004'],
 ['2005'],
 ['2006'],
 ['2007'],
 ['2008'],
 ['2009'],
 ['2010'],
 ['2011'],
 ['2012'],
 ['2013'],
 ['2014'],
 ['2015'],
 ['2016'],
 ['2017'],
 ['2018'],
 ['2019'],
 ['2020'],
 ['2021'],
 ['2022'],
 ['2023'],
 ['2024']]

In [689]:
assert len(release_years) == df.shape[0], (
    "Lengths must match."
)

In [690]:
# Add the release years to our df
df['release_date'] = release_years
df.head()

,title,directed_by,screenplay_by,based_on,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[.mw-parser-output .plainlist ol,.mw-parser-ou...","[The Clansman, by , Thomas Dixon Jr.]","[D. W. Griffith, Harry Aitken, [, 1, ]]","[\n, Lillian Gish, \n, Mae Marsh, \n, Henry B....",[1915],[United States],"[$100,000+, [, 3, ]]","[$50–100 million, [, 4, ]]"
1,The Greatest Show on Earth,[Cecil B. DeMille],"[.mw-parser-output .plainlist ol,.mw-parser-ou...",[],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",[1916],[United States],"[$4 million, [, 1, ]]","[$36 million, [, 1, ]]"
2,This Is Cinerama,"[.mw-parser-output .plainlist ol,.mw-parser-ou...",[],[],"[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],[1917],[United States],[$1 million],"[$41.6 million, [, 2, ]]"
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[],[],[],"[Fred Troller, , Beatrice Troller , John Mars...",[1918],[United States],"[$1.5 million, [, 1, ]]","[$29.6 million , [, 2, ]]"
4,The Robe,[Henry Koster],"[.mw-parser-output .plainlist ol,.mw-parser-ou...","[The Robe, by , Lloyd C. Douglas]",[Frank Ross],"[\n, Richard Burton, \n, Jean Simmons, \n, Vic...",[1919],[United States],"[$4.1 million, [, 1, ], – $4.6 million, [, 2, ]]","[$36 million (United States), [, 3, ]]"

In [691]:
# Unpack the release_date column
df['release_date'] = df.loc[:, 'release_date'].apply(lambda x: x[0])

Now we have to investigate and preprocess each column & delete those with few information.

In [692]:
# Check if there are any empty titles
df.loc[:, 'title'].apply(lambda x: 1 if len(x) == 0 else 0).sum()

np.int64(0)

In [693]:
# Check if there are any empty directed by entries & remove any incorrect data
df.loc[:, 'directed_by'].apply(lambda x: 1 if len(x) == 0 else 0).sum()

np.int64(0)

In [694]:
df.loc[:, 'directed_by'].values.tolist()

[['D. W. Griffith'],
 ['Cecil B. DeMille'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  'Mike Todd',
  'Michael Todd, Jr.',
  'Walter A. Thompson',
  'Fred Rickey'],
 ['Robert L. Bendick', 'Philippe De Lacy'],
 ['Henry Koster'],
 ['Mervyn LeRoy'],
 ['Richard Fleischer'],
 ['Alfred Hitchcock'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Hamilton Luske',
  '\n',
  'Clyde Geronimi',
  '\n',
  'Wilfred Jackson',
  '\n'],
 ['Michael Curtiz'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Hamilton Luske',
  '\n',
  'Clyde Geronimi',
  '\n',
  'Wilfred Jackson',
  '\n'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  'Compton Bennett',
  'Andrew Marton'],
 ['Anatole Litvak'],
 ['Cecil B. DeMille'],
 ['Kelsey Mann'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Michael Powell',
  '\n',
  'Emeric Pressburger',
  '\n'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Wilfred Jackson',
  '\n',
  'Hamilton Luske',
  '\n',
  'Clyde Geronimi',
  '\n'],
 ['James Cameron'],
 ['Haruo Sotozaki'],
 ['Greta Gerwig'],
 ['Jon Watts'],
 ['Rian Johnson'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  'Anthony Russo',
  'Joe Russo'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  'Anthony Russo',
  'Joe Russo'],
 ['Michael Bay'],
 ['J. J. Abrams'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Anthony Russo',
  'Joe Russo',
  '\n'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Chris Buck',
  '\n',
  'Jennifer Lee',
  '\n'],
 ['Lee Unkrich'],
 ['David Yates'],
 ['Joss Whedon'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Andrew Adamson',
  '\n',
  'Kelly Asbury',
  '\n',
  'Conrad Vernon',
  '\n'],
 ['Gore Verbinski'],
 ['Gore Verbinski'],
 ['Mike Newell'],
 ['Peter Jackson'],
 ['Christopher Nolan'],
 ['James Cameron'],
 ['John Woo'],
 ['Michael Bay'],
 ['Peter Jackson'],
 ['Chris Columbus'],
 ['George Lucas'],
 ['James Cameron'],
 ['John McTiernan'],
 ['Roland Emmerich'],
 ['John Lasseter'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Roger Allers',
  '\n',
  'Rob Minkoff',
  '\n'],
 ['Jerry Zucker'],
 ['Adrian Lyne'],
 ['Barry Levinson'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'John Musker',
  '\n',
  'Ron Clements',
  '\n'],
 ['Steven Spielberg'],
 ['James Cameron'],
 ['Steven Spielberg'],
 ['Tony Scott'],
 ['Richard Marquand'],
 ['Ivan Reitman'],
 ['Robert Zemeckis'],
 ['Sylvester Stallone'],
 ['Steven Spielberg'],
 ['Randal Kleiser'],
 ['Lewis Gilbert'],
 ['Irvin Kershner'],
 ['Steven Spielberg'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'John Guillermin',
  '\n',
  'Irwin Allen',
  ' (action sequences)',
  '\n'],
 ['George Roy Hill'],
 ['John G. Avildsen'],
 ['George Lucas'],
 ['William Friedkin'],
 ['Steven Spielberg'],
 ['Norman Jewison'],
 ['William Friedkin'],
 ['Guy Hamilton'],
 ['Arthur Hiller'],
 ['Francis Ford Coppola'],
 ['William Wyler'],
 ['George Roy Hill'],
 ['George Roy Hill'],
 ['Mike Nichols'],
 ['Wolfgang Reitherman'],
 ['Mike Nichols'],
 ['Stanley Kubrick'],
 ['John Huston'],
 ['Terence Young'],
 ['Robert Stevenson'],
 ['Robert Wise'],
 ['Guy Hamilton'],
 ['George Cukor'],
 ['Joseph L. Mankiewicz'],
 ['Ken Annakin'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Robert Wise',
  '\n',
  'Jerome Robbins',
  '\n'],
 ['Alfred Hitchcock'],
 ['Stanley Kubrick'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Henry Hathaway',
  '\n',
  'John Ford',
  '\n',
  'George Marshall',
  '\n'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Wolfgang Reitherman',
  '\n',
  'Hamilton Luske',
  '\n',
  'Clyde Geronimi',
  '\n'],
 ['David Lean'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'British & French:',
  '\n',
  'Ken Annakin',
  '\n',
  'American:',
  '\n',
  'Andrew Marton',
  '\n',
  'German:',
  '\n',
  'Bernhard Wicki',
  '\n'],
 ['Charles Walters'],
 ['Otto Preminger', 'John M. Stahl', ' ', ' (uncredited) '],
 ['Joshua Logan'],
 ['David Lean'],
 ['King Vidor'],
 ['Cecil B. DeMille'],
 ['John Ford', 'Mervyn LeRoy', 'Joshua Logan', ' ', '(uncredited)'],
 ['Cecil B. DeMille'],
 ['William Wyler'],
 ['William Wyler'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Live action:',
  '\n',
  'Harve Foster',
  '\n',
  'Animation:',
  '\n',
  'Wilfred Jackson',
  '\n'],
 ['Sam Wood'],
 ['Leo McCarey'],
 ['William Beaudine'],
 ['Michael Curtiz',
  'Dialogue directors:',
  'Hugh Cummings',
  'Edward A. Blatt',
  '[',
  '1',
  ']'],
 ['Leo McCarey'],
 ['William Wyler'],
 ['Howard Hawks'],
 ['Supervising Director',
  'David D. Hand',
  '\n',
  'Sequence Director',
  '.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'James Algar',
  '\n',
  'Bill Roberts',
  '\n',
  'Norman Wright',
  '\n',
  'Sam Armstrong',
  '\n',
  'Paul Satterfield',
  '\n',
  'Graham Heid',
  '\n'],
 ['Supervising Directors',
  '.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Ben Sharpsteen',
  '\n',
  'Hamilton Luske',
  '\n',
  '\n',
  'Sequence Directors',
  '\n',
  'Bill Roberts',
  '\n',
  'Norman Ferguson',
  '\n',
  'Jack Kinney',
  '\n',
  'Wilfred Jackson',
  '\n',
  'T. Hee',
  '\n'],
 ['Jack Conway'],
 ['Frank Capra'],
 ['Victor Fleming'],
 ['Frank Lloyd'],
 ['Supervising Directors',
  'David Hand',
  '\n',
  'Sequence Directors',
  '.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Perce Pearce',
  '\n',
  'William Cottrell',
  '\n',
  'Larry Morey',
  '\n',
  'Wilfred Jackson',
  '\n',
  'Ben Sharpsteen',
  '\n'],
 ['Ernst Lubitsch'],
 ['Lowell Sherman'],
 ['Frank Lloyd'],
 ['W. S. Van Dyke'],
 ['Wesley Ruggles'],
 ['Frank Capra'],
 ['Charlie Chaplin'],
 ['Cecil B. DeMille'],
 ['James Whale'],
 ['Lewis Milestone'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Merian C. Cooper',
  '\n',
  'Ernest B. Schoedsack',
  '\n'],
 ['Harry Beaumont'],
 ['William A. Wellman'],
 ['Lloyd Bacon'],
 ['.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}',
  '\n',
  'Fred Niblo',
  '\n',
  'Uncredited:',
  '\n',
  'Charles Brabin',
  '\n'],
 ['Sam Taylor'],
 ['David Butler'],
 ['King Vidor'],
 ['Frank Lloyd'],
 ['Allan Dwan'],
 ['D. W. Griffith'],
 ['James Cruze'],
 ['J. Gordon Edwards'],
 ['George Loane Tucker'],
 ['Rex Ingram'],
 ['F. Richard Jones', 'James Young'],
 ['D. W. Griffith']]

In [695]:
# We need to remove unnecessary values from directed_by column

stop_words = ['\n', ' ', '(uncredited)', ' (uncredited) ', ' (uncredited)', '(uncredited) ', ' (action sequences)', ' (action sequences) ', '(action sequences) ',
                  '(action sequences)', ' (presented by) ', ' (presented by)', '(presented by) ', '(presented by)']

def remove_stop_words(words: list[str], stop_words: list[str], length_threshold: int = 49) -> list[str]:
    res = []
    #length_threshold = len('.mw-parser-output .plainlist ol,.mw-parser-output')
    for i in words:
        if not (any(i in stop_word for stop_word in stop_words) or len(i) >= length_threshold or len(i) <= 2):
            res.append(i)
    return res

df['directed_by'] = df.loc[:, 'directed_by'].apply(lambda x: remove_stop_words(x, stop_words))

In [696]:
df.head()

,title,directed_by,screenplay_by,based_on,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[.mw-parser-output .plainlist ol,.mw-parser-ou...","[The Clansman, by , Thomas Dixon Jr.]","[D. W. Griffith, Harry Aitken, [, 1, ]]","[\n, Lillian Gish, \n, Mae Marsh, \n, Henry B....",1915,[United States],"[$100,000+, [, 3, ]]","[$50–100 million, [, 4, ]]"
1,The Greatest Show on Earth,[Cecil B. DeMille],"[.mw-parser-output .plainlist ol,.mw-parser-ou...",[],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",1916,[United States],"[$4 million, [, 1, ]]","[$36 million, [, 1, ]]"
2,This Is Cinerama,"[Mike Todd, Michael Todd, Jr., Walter A. Thomp...",[],[],"[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],1917,[United States],[$1 million],"[$41.6 million, [, 2, ]]"
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[],[],[],"[Fred Troller, , Beatrice Troller , John Mars...",1918,[United States],"[$1.5 million, [, 1, ]]","[$29.6 million , [, 2, ]]"
4,The Robe,[Henry Koster],"[.mw-parser-output .plainlist ol,.mw-parser-ou...","[The Robe, by , Lloyd C. Douglas]",[Frank Ross],"[\n, Richard Burton, \n, Jean Simmons, \n, Vic...",1919,[United States],"[$4.1 million, [, 1, ], – $4.6 million, [, 2, ]]","[$36 million (United States), [, 3, ]]"

In [697]:
# Check the amount of empty elements in screenplay_by and based_on
df.loc[:, 'screenplay_by'].value_counts()[:3]

screenplay_by
[]                 52
[Steve Kloves]      3
[Ernest Lehman]     3
Name: count, dtype: int64

In [698]:
df.loc[:, 'based_on'].value_counts()[:3]

based_on
[]                                       46
[Avengers, by , Stan Lee, Jack Kirby]     3
[Characters, by , George Lucas]           2
Name: count, dtype: int64

Almost 33% of all entries in `screenplay_by` and `based_on` columns is empty. So, we can drop these columns.

In [699]:
df = df.drop(labels=["screenplay_by", "based_on"], axis=1)
df.head()

,title,directed_by,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[D. W. Griffith, Harry Aitken, [, 1, ]]","[\n, Lillian Gish, \n, Mae Marsh, \n, Henry B....",1915,[United States],"[$100,000+, [, 3, ]]","[$50–100 million, [, 4, ]]"
1,The Greatest Show on Earth,[Cecil B. DeMille],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",1916,[United States],"[$4 million, [, 1, ]]","[$36 million, [, 1, ]]"
2,This Is Cinerama,"[Mike Todd, Michael Todd, Jr., Walter A. Thomp...","[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],1917,[United States],[$1 million],"[$41.6 million, [, 2, ]]"
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[],"[Fred Troller, , Beatrice Troller , John Mars...",1918,[United States],"[$1.5 million, [, 1, ]]","[$29.6 million , [, 2, ]]"
4,The Robe,[Henry Koster],[Frank Ross],"[\n, Richard Burton, \n, Jean Simmons, \n, Vic...",1919,[United States],"[$4.1 million, [, 1, ], – $4.6 million, [, 2, ]]","[$36 million (United States), [, 3, ]]"

In [700]:
#Check the amount of empty entries in produced_by and starring columns
df.loc[:, 'produced_by'].value_counts()

produced_by
[Walt Disney]                    9
[Cecil B. DeMille]               5
[Sam Zimbalist]                  4
[Kevin Feige]                    4
[]                               2
                                ..
[Jesse L. Lasky]                 1
[George Loane Tucker]            1
[Rex Ingram]                     1
[Mabel Normand, Mack Sennett]    1
[D. W. Griffith]                 1
Name: count, Length: 117, dtype: int64

In [701]:
df.loc[:, 'starring'].value_counts()

starring
[]                                                                                                                                                                                                                                                        2
[\n, Mark Hamill, \n, Harrison Ford, \n, Carrie Fisher, \n, Billy Dee Williams, \n, Anthony Daniels, \n, David Prowse, \n, Kenny Baker, \n, Peter Mayhew, \n, Frank Oz, \n]                                                                               2
[\n, Sylvester Stallone, \n, Talia Shire, \n, Burt Young, \n, Carl Weathers, \n, Burgess Meredith, \n]                                                                                                                                                    2
[Fred Troller,  , Beatrice Troller , John Marsh, Betty Marsh]                                                                                                                                                                                             1
[\n, Richard Burton, \n, Jean Simmons, \n, Victor Mature, \n, Michael Rennie, \n, Jay Robinson, \n, Dean Jagger, \n, Torin Thatcher, \n, Richard Boone, \n, Betta St. John, \n, Jeff Morrow, \n, Ernest Thesiger, \n, Dawn Addams, \n, Leon Askin, \n]    1
                                                                                                                                                                                                                                                         ..
[Theda Bara, Fritz Leiber Sr., Thurston Hall]                                                                                                                                                                                                             1
[Thomas Meighan, Betty Compson, Lon Chaney, Joseph J. Dowling, J.M. Dumont, Lawson Butt, (*uncredited)]                                                                                                                                                   1
[Pomeroy Cannon, Josef Swickard, Bridgetta Clark, Rudolph Valentino, Wallace Beery, Alice Terry]                                                                                                                                                          1
[Mabel Normand]                                                                                                                                                                                                                                           1
[Vera Lewis, Ralph Lewis, Mae Marsh, Robert Harron, Constance Talmadge, Lillian Gish, Josephine Crowell, Margery Wilson, Frank Bennett, Elmer Clifton, Miriam Cooper, Alfred Paget]                                                                       1
Name: count, Length: 147, dtype: int64

In [702]:
# Fill all empty entries with "Unknown" because we do not want to lose ary rows from our dataset
df['produced_by'] = df.loc[:, 'produced_by'].apply(lambda x: ["Unknown"] if len(x) == 0 else x)
df['starring'] = df.loc[:, 'starring'].apply(lambda x: ["Unknown"] if len(x) == 0 else x)

In [703]:
# Remove stopwords from both columns
stop_words = ['\n', ' ', '(uncredited)', ' (uncredited) ', ' (action sequences)', ' (action sequences) ', '(action sequences) ',
                  '(action sequences)', 'uncredited', 'Uncredited:']

df['starring'] = df.loc[:, 'starring'].apply(lambda x: remove_stop_words(x, stop_words))
df['produced_by'] = df.loc[:, 'produced_by'].apply(lambda x: remove_stop_words(x, stop_words))

In [704]:
# Remove stopwords from country column
df['country'] = df.loc[:, 'country'].apply(lambda x: remove_stop_words(x, stop_words))

In [705]:
df.loc[:, 'country'].value_counts()

country
[United States]     131
[]                   17
[United Kingdom]      1
[Japan]               1
Name: count, dtype: int64

In [706]:
# Fill empty country names as Unknown. We can save only the first element of each entry
# because we have only 1 country per film
df['country'] = df.loc[:, 'country'].apply(lambda x: "Unknown" if len(x) == 0 else x[0])

In [707]:
df.head()

,title,directed_by,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[D. W. Griffith, Harry Aitken]","[Lillian Gish, Mae Marsh, Henry B. Walthall, M...",1915,United States,"[$100,000+, [, 3, ]]","[$50–100 million, [, 4, ]]"
1,The Greatest Show on Earth,[Cecil B. DeMille],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",1916,United States,"[$4 million, [, 1, ]]","[$36 million, [, 1, ]]"
2,This Is Cinerama,"[Mike Todd, Michael Todd, Jr., Walter A. Thomp...","[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],1917,United States,[$1 million],"[$41.6 million, [, 2, ]]"
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[Unknown],"[Fred Troller, Beatrice Troller , John Marsh, ...",1918,United States,"[$1.5 million, [, 1, ]]","[$29.6 million , [, 2, ]]"
4,The Robe,[Henry Koster],[Frank Ross],"[Richard Burton, Jean Simmons, Victor Mature, ...",1919,United States,"[$4.1 million, [, 1, ], – $4.6 million, [, 2, ]]","[$36 million (United States), [, 3, ]]"

In [708]:
# Check if there are any empty values in budget and box_office
df.loc[:, 'budget'].value_counts()

budget
[$4 million, [, 1, ]]                4
[]                                   3
[$1.5 million, [, 1, ]]              2
[$1 million]                         2
[$3 million]                         2
                                    ..
[$250,000–500,000, [, 1, ]]          1
[$120,000]                           1
[$800,000 or $1 million, [, 1, ]]    1
[$250,000]                           1
[$385,907, [, 1, ]]                  1
Name: count, Length: 142, dtype: int64

In [709]:
df.loc[:, 'box_office'].value_counts()

box_office
[$50–100 million, [, 4, ]]                                                                                            1
[$36 million, [, 1, ]]                                                                                                1
[$41.6 million, [, 2, ]]                                                                                              1
[$29.6 million , [, 2, ]]                                                                                             1
[$36 million (United States), [, 3, ]]                                                                                1
                                                                                                                     ..
[$1 million, [, 1, ]]                                                                                                 1
[$1 million (rentals), [, 1, ],  or $2 million, [, 2, ]]                                                              1
[$9.2 million, [, 2, ],  or $4 million (world gross), [, 1, ]]                                                        1
[$16,450,000]                                                                                                         1
[$1.75 million , (, .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}, theatrical rental, )]    1
Name: count, Length: 150, dtype: int64

In [710]:
df.loc[:, 'budget'].tolist()

[['$100,000+', '[', '3', ']'],
 ['$4 million', '[', '1', ']'],
 ['$1 million'],
 ['$1.5 million', '[', '1', ']'],
 ['$4.1 million', '[', '1', ']', ' – $4.6 million', '[', '2', ']'],
 ['$7.6 million', '[', '1', ']'],
 ['$5 million', '[', '1', ']'],
 ['$1 million'],
 ['$4 million', '[', '1', ']'],
 ['$2 million', '[', '2', ']'],
 ['$4 million', '[', '1', ']'],
 ['$2.3 million', '[', '2', ']'],
 ['$3.8 million', '[', '1', ']'],
 ['$2.9', '[', '2', ']', '–3.1 million', '[', '3', ']'],
 ['$200\xa0million', '[', '2', ']'],
 ['> ', '£', '505,600', '[', 'a', ']', '[', '1', ']', '[', '2', ']'],
 ['$2.2 million', '[', '1', ']'],
 ['$350–460\xa0million', '[', '2', ']', '[', '3', ']'],
 ['$15.7 million', '[', '1', ']'],
 ['$128–145\xa0million', '[', '4', ']', '[', '5', ']'],
 ['$200', '\xa0', 'million', '[', '2', ']'],
 ['$300 million', '[', '2', ']'],
 ['$325–400 million', '[', '2', ']', '[', '3', ']'],
 ['$356–400', '\xa0', 'million', '[', '2', ']', '[', '3', ']'],
 ['$210 million', '[', '4', ']'],
 ['\n',
  '$447 million (net)',
  '[',
  '2',
  ']',
  '\n',
  '$533 million (gross)',
  '[',
  '2',
  ']',
  '\n'],
 ['$250', '\xa0', 'million', '[', '3', ']', '[', '4', ']', '[', '5', ']'],
 ['$150 million', '[', '6', ']', '[', '7', ']'],
 ['$200\xa0million', '[', '1', ']'],
 ['$250 million',
  '(shared with ',
  'Part 1',
  ')',
  '[',
  '2',
  ']',
  '[',
  '3',
  ']'],
 ['$220–225\xa0million', '[', '2', ']', '[', '3', ']'],
 ['$150\xa0million', '[', '2', ']'],
 ['$300\xa0million', '[', '2', ']'],
 ['$225 million', '[', '2', ']'],
 ['$150 million', '[', '5', ']'],
 ['$94 million', '[', '4', ']'],
 ['$185', '\xa0', 'million'],
 ['$237 million', '[', '4', ']'],
 ['$120–125 million', '[', '3', ']', '[', '4', ']'],
 ['$140\xa0million', '[', '2', ']', '[', '3', ']'],
 ['$94 million', '[', '3', ']'],
 ['$125 million', '[', '5', ']'],
 ['$115 million', '[', '3', ']'],
 ['$200\xa0million', '[', '4', ']', '[', '5', ']', '[', '6', ']'],
 ['$90 million', '[', '4', ']'],
 ['$75\xa0million', '[', '2', ']'],
 ['$30\xa0million', '[', '2', ']'],
 ['$45\xa0million', '[', '2', ']'],
 ['$22–23 million'],
 ['$14 million', '[', '1', ']'],
 ['$25', '\xa0', 'million', '[', '2', ']'],
 ['$28\xa0million', '[', '5', ']'],
 ['$48\xa0million', '[', '1', ']'],
 ['$94–102', '\xa0', 'million'],
 ['$63\xa0million', '[', '3', ']'],
 ['$15 million'],
 ['$32.5–42.7 million', '[', '2', ']', '[', '3', ']'],
 ['$25–30\xa0million'],
 ['$19 million'],
 ['$7 million'],
 ['$10.5 million', '[', '3', ']', '[', '4', ']'],
 ['$6 million', '[', '2', ']'],
 ['$34 million'],
 ['$30.5', '\xa0', 'million'],
 ['$20', '\xa0', 'million'],
 ['$14 million', '[', '3', ']'],
 ['$5.5 million', '[', '1', ']'],
 ['$1,100,000'],
 ['$11 million', '[', '3', ']', '[', '4', ']'],
 ['$12\xa0million', '[', '2', ']'],
 ['$9 million'],
 ['$9\xa0million'],
 ['$1.8–2.2\xa0million', '[', '3', ']', '[', '4', ']'],
 ['$7.2\xa0million', '[', '3', ']'],
 ['$2.2 million', '[', '2', ']'],
 ['$6–7 million', '[', 'N 1', ']'],
 ['$14.1\xa0million'],
 ['$6\xa0million', '[', '3', ']'],
 ['$15 million', '[', '1', ']'],
 ['$3 million'],
 ['$4 million', '[', '1', ']'],
 ['$7.5\xa0million'],
 ['$10.5 million'],
 ['$15–$18 million', '[', '1', ']', '[', '2', ']'],
 ['$2 million'],
 ['$4.4–6\xa0million', '[', '5', ']'],
 ['$8.2 million', '[', '2', ']', '[', '3', ']'],
 ['$3 million'],
 ['$17 million', '[', '2', ']'],
 ['$31.1\xa0million', '[', '3', ']'],
 ['$5 million', '[', '2', ']'],
 ['$6.75 million', '[', '3', ']'],
 ['$806,947', '[', '6', ']'],
 ['$12 million', '[', '1', ']', '[', '2', ']'],
 ['$14,483,000', '[', '1', ']'],
 ['$3.6–4 million', '[', '2', ']', '[', '3', ']'],
 ['$15\xa0million', '[', '3', ']'],
 ['$7.75 million', '[', '1', ']'],
 ['$2,655,000', '[', '1', ']', '[', '2', ']'],
 ['$6.4 million', '[', '1', ']'],
 ['$5.61 million', '[', '2', ']'],
 ['$2.8 million', '[', '2', ']', '(equivalent to $29 million in 2022)'],
 ['$6.48 million', '[', '1', ']'],
 ['$13 million', '[', '3', ']'],
 ['$2.3 million', '[', '5', ']'],
 ['$4,371,593', '[', '1', ']'],
 ['$15.2 million', '[', '3', ']', '[', '4', ']'],
 ['$2.1 million', '[', '1', ']', ' or $3 million', '[', '2', ']'],
 ['$2.125 million', '[', '3', ']'],
 ['$3 million', '[', '2', ']'],
 [],
 ['$67,001', '[', '3', ']'],
 ['$1,870,000', '[', '3', ']', '[', '4', ']'],
 ['$1.3 million', '[', '1', ']'],
 ['$1.34 million', '[', '2', ']'],
 ['$1.7 million', '[', '1', ']'],
 ['$858,000', '[', '2', ']'],
 ['$2.6\xa0million', '[', '4', ']'],
 ['$1.6 million', '[', '1', ']'],
 ['US$1,644,736 ', '(est.)', '[', '3', ']'],
 ['$3.85\xa0million'],
 ['$1,950,000', '[', '1', ']'],
 ['$1.5 million', '[', '1', ']'],
 ['$1,605,000', '[', '1', ']'],
 ['$200,000', '[', '1', ']'],
 ['$1,180,280'],
 ['$1.3 million', '[', '1', ']', '[', '2', ']'],
 ['$225,000 (estimated)', '[', '2', ']'],
 ['$325,000', '[', '2', ']'],
 ['$1.5 million'],
 ['$694,065', '[', '1', ']'],
 ['$262,007', '[', '2', ']'],
 ['$1.2 million', '[', '3', ']'],
 ['$672,254.75', '[', '2', ']', '[', '3', ']'],
 ['$379,000', '[', '3', ']'],
 ['$2 million', '[', '4', ']'],
 ['$388,000', '[', '3', ']', '[', '4', ']'],
 ['$4 million', '[', '1', ']', '[', '2', ']'],
 [],
 [],
 ['$382,000', '[', '1', ']'],
 ['$800,000', '[', '1', ']'],
 ['$930,000', '[', '1', ']'],
 ['$800,000', '[', '1', ']', ' or $635,000', '[', '2', ']'],
 ['$782,000 or $336,000', '[', '1', ']'],
 ['$250,000–500,000', '[', '1', ']'],
 ['$120,000'],
 ['$800,000 or $1 million', '[', '1', ']'],
 ['$250,000'],
 ['$385,907', '[', '1', ']']]

In [711]:
# Remove stopwords from budget column
stop_words = ['\n', ' ', '(uncredited)', ' (uncredited) ', ' (action sequences)', ' (action sequences) ', '(action sequences) ',
                  '(action sequences)', 'uncredited', 'Uncredited:', '(est.)', '(estimated)']
df['budget'] = df.loc[:, 'budget'].apply(lambda x: remove_stop_words(x, stop_words)).tolist()

In [712]:
# Fill empty values in the budget column
df['budget'] = df.loc[:, 'budget'].apply(lambda x: ['$0.0'] if len(x) == 0 else x)

In [713]:
def delete_wrong_symbol(value: list[str]) -> list[int, int]:
    return [" ".join(value).replace("\xa0", " ")]

df['budget'] = df.loc[:, 'budget'].apply(delete_wrong_symbol).tolist()

In [714]:
pattern = re.compile(r'\$(\d+(?:[.,]\d{3})*(?:\.\d+)?)\s*million')

def scale_number(value):
    # Replace commas with dots for consistency
    value = value.replace(',', '.')
    # Convert to float and multiply by 1,000,000
    return int(float(value) * 1_000_000)

def parse_numbers(value: list[str], pattern: re.Pattern = pattern):
    matches = pattern.findall(value[0])
    if matches:
        #scaled_values = [scale_number(match) for match in matches]
        #print(f"Input: {value[0]} -> {scaled_values}")
        return matches

In [715]:
df.loc[:, 'budget'].to_list()

[['$100,000+'],
 ['$4 million'],
 ['$1 million'],
 ['$1.5 million'],
 ['$4.1 million  – $4.6 million'],
 ['$7.6 million'],
 ['$5 million'],
 ['$1 million'],
 ['$4 million'],
 ['$2 million'],
 ['$4 million'],
 ['$2.3 million'],
 ['$3.8 million'],
 ['$2.9 –3.1 million'],
 ['$200 million'],
 ['505,600'],
 ['$2.2 million'],
 ['$350–460 million'],
 ['$15.7 million'],
 ['$128–145 million'],
 ['$200 million'],
 ['$300 million'],
 ['$325–400 million'],
 ['$356–400 million'],
 ['$210 million'],
 ['$447 million (net) $533 million (gross)'],
 ['$250 million'],
 ['$150 million'],
 ['$200 million'],
 ['$250 million (shared with  Part 1'],
 ['$220–225 million'],
 ['$150 million'],
 ['$300 million'],
 ['$225 million'],
 ['$150 million'],
 ['$94 million'],
 ['$185 million'],
 ['$237 million'],
 ['$120–125 million'],
 ['$140 million'],
 ['$94 million'],
 ['$125 million'],
 ['$115 million'],
 ['$200 million'],
 ['$90 million'],
 ['$75 million'],
 ['$30 million'],
 ['$45 million'],
 ['$22–23 million'],
 ['$14 million'],
 ['$25 million'],
 ['$28 million'],
 ['$48 million'],
 ['$94–102 million'],
 ['$63 million'],
 ['$15 million'],
 ['$32.5–42.7 million'],
 ['$25–30 million'],
 ['$19 million'],
 ['$7 million'],
 ['$10.5 million'],
 ['$6 million'],
 ['$34 million'],
 ['$30.5 million'],
 ['$20 million'],
 ['$14 million'],
 ['$5.5 million'],
 ['$1,100,000'],
 ['$11 million'],
 ['$12 million'],
 ['$9 million'],
 ['$9 million'],
 ['$1.8–2.2 million'],
 ['$7.2 million'],
 ['$2.2 million'],
 ['$6–7 million N 1'],
 ['$14.1 million'],
 ['$6 million'],
 ['$15 million'],
 ['$3 million'],
 ['$4 million'],
 ['$7.5 million'],
 ['$10.5 million'],
 ['$15–$18 million'],
 ['$2 million'],
 ['$4.4–6 million'],
 ['$8.2 million'],
 ['$3 million'],
 ['$17 million'],
 ['$31.1 million'],
 ['$5 million'],
 ['$6.75 million'],
 ['$806,947'],
 ['$12 million'],
 ['$14,483,000'],
 ['$3.6–4 million'],
 ['$15 million'],
 ['$7.75 million'],
 ['$2,655,000'],
 ['$6.4 million'],
 ['$5.61 million'],
 ['$2.8 million (equivalent to $29 million in 2022)'],
 ['$6.48 million'],
 ['$13 million'],
 ['$2.3 million'],
 ['$4,371,593'],
 ['$15.2 million'],
 ['$2.1 million  or $3 million'],
 ['$2.125 million'],
 ['$3 million'],
 ['$0.0'],
 ['$67,001'],
 ['$1,870,000'],
 ['$1.3 million'],
 ['$1.34 million'],
 ['$1.7 million'],
 ['$858,000'],
 ['$2.6 million'],
 ['$1.6 million'],
 ['US$1,644,736 '],
 ['$3.85 million'],
 ['$1,950,000'],
 ['$1.5 million'],
 ['$1,605,000'],
 ['$200,000'],
 ['$1,180,280'],
 ['$1.3 million'],
 ['$225,000 (estimated)'],
 ['$325,000'],
 ['$1.5 million'],
 ['$694,065'],
 ['$262,007'],
 ['$1.2 million'],
 ['$672,254.75'],
 ['$379,000'],
 ['$2 million'],
 ['$388,000'],
 ['$4 million'],
 ['$0.0'],
 ['$0.0'],
 ['$382,000'],
 ['$800,000'],
 ['$930,000'],
 ['$800,000  or $635,000'],
 ['$782,000 or $336,000'],
 ['$250,000–500,000'],
 ['$120,000'],
 ['$800,000 or $1 million'],
 ['$250,000'],
 ['$385,907']]

In [716]:
pattern = re.compile(r'\d+(?:[.,])*\d*(?:[.,]*)\d*')
df['budget'] = df.loc[:, 'budget'].apply(lambda x: parse_numbers(x, pattern)).tolist()

In [717]:
df.loc[:, 'budget'].tolist()

[['100,000'],
 ['4'],
 ['1'],
 ['1.5'],
 ['4.1', '4.6'],
 ['7.6'],
 ['5'],
 ['1'],
 ['4'],
 ['2'],
 ['4'],
 ['2.3'],
 ['3.8'],
 ['2.9', '3.1'],
 ['200'],
 ['505,600'],
 ['2.2'],
 ['350', '460'],
 ['15.7'],
 ['128', '145'],
 ['200'],
 ['300'],
 ['325', '400'],
 ['356', '400'],
 ['210'],
 ['447', '533'],
 ['250'],
 ['150'],
 ['200'],
 ['250', '1'],
 ['220', '225'],
 ['150'],
 ['300'],
 ['225'],
 ['150'],
 ['94'],
 ['185'],
 ['237'],
 ['120', '125'],
 ['140'],
 ['94'],
 ['125'],
 ['115'],
 ['200'],
 ['90'],
 ['75'],
 ['30'],
 ['45'],
 ['22', '23'],
 ['14'],
 ['25'],
 ['28'],
 ['48'],
 ['94', '102'],
 ['63'],
 ['15'],
 ['32.5', '42.7'],
 ['25', '30'],
 ['19'],
 ['7'],
 ['10.5'],
 ['6'],
 ['34'],
 ['30.5'],
 ['20'],
 ['14'],
 ['5.5'],
 ['1,100,000'],
 ['11'],
 ['12'],
 ['9'],
 ['9'],
 ['1.8', '2.2'],
 ['7.2'],
 ['2.2'],
 ['6', '7', '1'],
 ['14.1'],
 ['6'],
 ['15'],
 ['3'],
 ['4'],
 ['7.5'],
 ['10.5'],
 ['15', '18'],
 ['2'],
 ['4.4', '6'],
 ['8.2'],
 ['3'],
 ['17'],
 ['31.1'],
 ['5'],
 ['6.75'],
 ['806,947'],
 ['12'],
 ['14,483,000'],
 ['3.6', '4'],
 ['15'],
 ['7.75'],
 ['2,655,000'],
 ['6.4'],
 ['5.61'],
 ['2.8', '29', '2022'],
 ['6.48'],
 ['13'],
 ['2.3'],
 ['4,371,593'],
 ['15.2'],
 ['2.1', '3'],
 ['2.125'],
 ['3'],
 ['0.0'],
 ['67,001'],
 ['1,870,000'],
 ['1.3'],
 ['1.34'],
 ['1.7'],
 ['858,000'],
 ['2.6'],
 ['1.6'],
 ['1,644,736'],
 ['3.85'],
 ['1,950,000'],
 ['1.5'],
 ['1,605,000'],
 ['200,000'],
 ['1,180,280'],
 ['1.3'],
 ['225,000'],
 ['325,000'],
 ['1.5'],
 ['694,065'],
 ['262,007'],
 ['1.2'],
 ['672,254.75'],
 ['379,000'],
 ['2'],
 ['388,000'],
 ['4'],
 ['0.0'],
 ['0.0'],
 ['382,000'],
 ['800,000'],
 ['930,000'],
 ['800,000', '635,000'],
 ['782,000', '336,000'],
 ['250,000', '500,000'],
 ['120,000'],
 ['800,000', '1'],
 ['250,000'],
 ['385,907']]

In [718]:
def process_number(num: str) -> int:
    num = num.replace(",", ".")
    num_splitted = num.split(".")

    if "." not in num:
        return int(num) * 1_000_000
    elif len(num_splitted[0]) > 2 and len(num_splitted[1]) > 2:
        return int(num.replace(".", "_"))
    elif len(num_splitted) >= 3:
        return int(num_splitted[0]) * 1_000_000 + int(num_splitted[1]) * 1_000 + int(num_splitted[2])
    else:
        return int(num_splitted[0]) * 1_000_000 + int("".join(num_splitted[1:])) * 1_000

def process_number_list(nums: list[str]) -> tuple[int, int]:
    if len(nums) == 1:
        return process_number(nums[0])
    
    numbers = []
    for idx, num in enumerate(nums):
        if idx == 2:
            break
        numbers.append(process_number(num))
    
    return numbers

In [719]:
df['budget'] = df.loc[:, 'budget'].apply(process_number_list).tolist()

In [720]:
df.head()

,title,directed_by,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[D. W. Griffith, Harry Aitken]","[Lillian Gish, Mae Marsh, Henry B. Walthall, M...",1915,United States,100000,"[$50–100 million, [, 4, ]]"
1,The Greatest Show on Earth,[Cecil B. DeMille],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",1916,United States,4000000,"[$36 million, [, 1, ]]"
2,This Is Cinerama,"[Mike Todd, Michael Todd, Jr., Walter A. Thomp...","[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],1917,United States,1000000,"[$41.6 million, [, 2, ]]"
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[Unknown],"[Fred Troller, Beatrice Troller , John Marsh, ...",1918,United States,1005000,"[$29.6 million , [, 2, ]]"
4,The Robe,[Henry Koster],[Frank Ross],"[Richard Burton, Jean Simmons, Victor Mature, ...",1919,United States,"[4001000, 4006000]","[$36 million (United States), [, 3, ]]"

In [721]:
df.loc[:, 'box_office'].tolist()

[['$50–100 million', '[', '4', ']'],
 ['$36 million', '[', '1', ']'],
 ['$41.6 million', '[', '2', ']'],
 ['$29.6 million ', '[', '2', ']'],
 ['$36 million (United States)', '[', '3', ']'],
 ['$21 million'],
 ['$28.2 million', '[', '2', ']'],
 ['$37.9 million', '[', '3', ']'],
 ['$187 million', '[', '2', ']'],
 ['$30 million', '[', '3', ']'],
 ['$87.4 million (United States and Canada)', '[', '1', ']'],
 ['$15.1 million', '[', '3', ']'],
 ['$10 million (Worldwide) ', '[', '2', ']', '[', '3', ']'],
 ['$25.6 million', '[', '4', ']'],
 ['$1.699\xa0billion', '[', '3', ']', '[', '4', ']'],
 ['$5 million (U.S. and Canada rentals)', '[', '3', ']'],
 ['$182 million', '[', '2', ']'],
 ['$2.320\xa0billion', '[', '4', ']', '[', '5', ']'],
 ['$507.1 million', '[', '1', ']'],
 ['$1.446\xa0billion', '[', '6', ']', '[', '7', ']'],
 ['$1.923 billion', '[', '3', ']', '[', '4', ']'],
 ['$1.334', '\xa0', 'billion', '[', '3', ']'],
 ['$2.052\xa0billion', '[', '4', ']'],
 ['$2.799', '\xa0', 'billion', '[', '4', ']'],
 ['$1.104 billion', '[', '4', ']'],
 ['$2.07', '\xa0', 'billion', '[', '3', ']'],
 ['$1.155', '\xa0', 'billion', '[', '4', ']'],
 ['$1.280 billion', '[', '7', ']'],
 ['$1.067\xa0billion', '[', '1', ']'],
 ['$1.342 billion', '[', '4', ']'],
 ['$1.521 billion', '[', '4', ']'],
 ['$935.5 million', '[', '4', ']'],
 ['$963.4\xa0million', '[', '2', ']'],
 ['$1.066 billion', '[', '2', ']'],
 ['$897.5 million', '[', '5', ']'],
 ['$1.151 billion', '[', '4', ']'],
 ['$1.006', '\xa0', 'billion', '[', 'c', ']'],
 ['$2.923 billion', '[', '5', ']'],
 ['$546.3 million', '[', '4', ']'],
 ['$553.7\xa0million', '[', '2', ']'],
 ['$951.6 million', '[', '3', ']'],
 ['$1.026 billion', '[', '5', ']'],
 ['$1.047 billion', '[', '3', ']', '[', '4', ']'],
 ['$2.264\xa0billion', '[', '7', ']'],
 ['$366.1 million', '[', '4', ']'],
 ['$817.4\xa0million', '[', '2', ']'],
 ['$394.4\xa0million', '[', '3', ']'],
 ['$978.8\xa0million', '[', '2', ']'],
 ['$505.7 million', '[', '4', ']'],
 ['$320.1 million', '[', '2', ']'],
 ['$354.8',
  '\xa0',
  'million',
  '[',
  '2',
  ']',
  '[',
  '3',
  ']',
  ' ($943 million in 2024 dollars)',
  '[',
  '4',
  ']'],
 ['$504.1\xa0million', '[', '5', ']'],
 ['$474.2\xa0million', '[', '1', ']'],
 ['$519–520.9', '\xa0', 'million'],
 ['$1.058\xa0billion', '[', '4', ']'],
 ['$357.3 million', '[', '1', ']'],
 ['$482 million', '[', '4', ']', '[', '5', ']'],
 ['$370\xa0million'],
 ['$388.8 million'],
 ['$200.1 million', '[', '1', ']'],
 ['$797.3 million', '[', '3', ']', '[', '5', ']'],
 ['$396.3 million', '[', '2', ']'],
 ['$210.3 million'],
 ['$538–549', '\xa0', 'million', '[', 'i', ']'],
 ['$389.9', '\xa0', 'million', '[', 'a', ']'],
 ['$203.3 million', '[', '4', ']'],
 ['$257 million'],
 ['$225 million', '[', '2', ']'],
 ['$775.4 million', '[', '3', ']'],
 ['$441.3\xa0million', '[', '2', ']'],
 ['$476.5 million'],
 ['$83.3\xa0million', '[', '2', ']'],
 ['$75\xa0million (worldwide ',
  '.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}',
  'theatrical rental',
  ')',
  '[',
  '5',
  ']'],
 ['$116\xa0million', '[', '3', ']'],
 ['$173.4 million', '[', '3', ']'],
 ['$250–291 million', '[', 'N 2', ']'],
 ['$58.5\xa0million', '[', '2', ']'],
 ['$102.3\xa0million ', '(North America)', '[', '4', ']'],
 ['$34.5 million', '[', '2', ']'],
 ['$104.9 million (North America)',
  '[',
  '4',
  ']',
  '$85 million (worldwide rentals)',
  '[',
  '5',
  ']'],
 ['$378 million', '[', '2', ']'],
 ['$33.7\xa0million'],
 ['$146\xa0million'],
 ['$34.9 million', '[', '3', ']'],
 ['$79 million'],
 ['$103.1\xa0million (US/Canada)', '[', '6', ']'],
 ['$286.2 million', '[', '2', ']'],
 ['$125 million'],
 ['$72.7 million', '[', '2', ']'],
 ['$57.8\xa0million (US and Canada)',
  '$40.3\xa0million (worldwide ',
  'theatrical rental',
  ')'],
 ['$40 million'],
 ['$44.1 million', '[', '4', ']'],
 ['$50\xa0million', '[', '7', ']'],
 ['$60 million (initial release)'],
 ['$50 million'],
 ['$303 million', '[', '4', ']'],
 ['$70\xa0million', '[', '3', ']'],
 ['$50.1 million', '[', '2', ']'],
 ['$6.8 million ', '[', '1', ']'],
 ['$5 million (est. US/ Canada rentals)',
  '[',
  '2',
  ']',
  '[',
  '3',
  ']',
  '3,918,690 admissions (France)',
  '[',
  '4',
  ']'],
 ['$17.5 million ', '(rentals)', '[', '3', ']', '[', '4', ']'],
 ['$30.6 million', '[', '2', ']', '(equivalent to $319 million in 2022)'],
 ['$20.4 million', '[', '2', ']'],
 ['$122.7 million', '[', '4', ']', '(initial release)'],
 ['$21.2 million', '[', '6', ']'],
 ['$6,665,592', '[', '1', ']'],
 ['$146.9 million (initial release)'],
 ['$23.7 million', '[', '3', ']'],
 ['$65 million', '[', '4', ']'],
 ['$17.8 million (worldwide)', '[', '3', ']', '[', '4', ']'],
 ['$6.5 million (US/Canada rentals)', '[', '1', ']'],
 ['$40–100 million (estimated)'],
 ['$10,445,000', '[', '3', ']', '[', '4', ']'],
 ['$21.3 million (United\xa0States)', '[', '2', ']'],
 ['$8.9 million', '[', '2', ']'],
 ['$8.3 million', '[', '1', ']'],
 ['$267.4 million', '[', '3', ']'],
 ['$164\xa0million'],
 ['$5 million', '[', '1', ']'],
 ['\n',
  'US$2,137,575 ',
  '(U.S. rentals)',
  '[',
  '4',
  ']',
  '\n',
  'US$5,295,526 ',
  "(int'l rentals)",
  '\n'],
 ['>$390\xa0million'],
 ['$4,460,000', '[', '1', ']', '[', '2', ']', ' ', '(rentals)'],
 ['$418 million', '[', '2', ']'],
 ['$2.8 million (worldwide rentals)', '[', '1', ']'],
 ['$2.2 million', '[', '2', ']'],
 ['$1,004,000 (domestic rentals)',
  '[',
  '1',
  ']',
  '$3.5 million (worldwide rentals)',
  '[',
  '2',
  ']'],
 ['$5.3 million', '[', '1', ']'],
 ['$2,250,000 (rentals)', '[', '3', ']'],
 ['$2.5 million (worldwide rentals)', '[', '3', ']'],
 ['$4.25 million (worldwide rentals)', '[', '3', ']'],
 ['$2,738,993', '[', '1', ']'],
 ['$12\xa0million', '[', '3', ']'],
 ['$3 million', '[', '4', ']', ' (worldwide rentals)'],
 ['$10,001,781', '[', '4', ']'],
 ['$4.4 million', '[', '3', ']'],
 ['$3.8 million (US and Canada rentals)', '[', '5', ']'],
 ['$5,916,000', '[', '5', ']'],
 ['$10.7 million', '[', '1', ']', '[', '2', ']'],
 ['$2.6 million', '[', '2', ']'],
 ['$2.19 million (U.S. and Canada rentals)', '[', '1', ']'],
 ['$18–22 million ', '(theatrical rental)'],
 ['$2 million', '[', '2', ']'],
 ['$2,500,000 (US/Canada)', '[', '2', ']'],
 ['$7,500,000', '[', '2', ']'],
 ['$4 million (U.S. and Canada rentals)', '[', '2', ']'],
 ['$1 million', '[', '1', ']'],
 ['$1 million (rentals)', '[', '1', ']', ' or $2 million', '[', '2', ']'],
 ['$9.2 million',
  '[',
  '2',
  ']',
  ' or $4 million (world gross)',
  '[',
  '1',
  ']'],
 ['$16,450,000'],
 ['$1.75 million ',
  '(',
  '.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}',
  'theatrical rental',
  ')']]

In [722]:
# Process box_office column in the same way
df['box_office'] = df.loc[:, 'box_office'].apply(lambda x: remove_stop_words(x, stop_words)).tolist()
df['box_office'] = df.loc[:, 'box_office'].apply(lambda x: ['$0.0'] if len(x) == 0 else x)
df['box_office'] = df.loc[:, 'box_office'].apply(delete_wrong_symbol)

pattern = re.compile(r'\d+(?:[.,])*\d*(?:[.,]*)\d*')
#df.loc[:, 'box_office'].apply(lambda x: parse_numbers(x, pattern)).tolist()
df.loc[:, 'box_office'].tolist()

[['$50–100 million'],
 ['$36 million'],
 ['$41.6 million'],
 ['$29.6 million '],
 ['$36 million (United States)'],
 ['$21 million'],
 ['$28.2 million'],
 ['$37.9 million'],
 ['$187 million'],
 ['$30 million'],
 ['$87.4 million (United States and Canada)'],
 ['$15.1 million'],
 ['$10 million (Worldwide) '],
 ['$25.6 million'],
 ['$1.699 billion'],
 ['$5 million (U.S. and Canada rentals)'],
 ['$182 million'],
 ['$2.320 billion'],
 ['$507.1 million'],
 ['$1.446 billion'],
 ['$1.923 billion'],
 ['$1.334 billion'],
 ['$2.052 billion'],
 ['$2.799 billion'],
 ['$1.104 billion'],
 ['$2.07 billion'],
 ['$1.155 billion'],
 ['$1.280 billion'],
 ['$1.067 billion'],
 ['$1.342 billion'],
 ['$1.521 billion'],
 ['$935.5 million'],
 ['$963.4 million'],
 ['$1.066 billion'],
 ['$897.5 million'],
 ['$1.151 billion'],
 ['$1.006 billion'],
 ['$2.923 billion'],
 ['$546.3 million'],
 ['$553.7 million'],
 ['$951.6 million'],
 ['$1.026 billion'],
 ['$1.047 billion'],
 ['$2.264 billion'],
 ['$366.1 million'],
 ['$817.4 million'],
 ['$394.4 million'],
 ['$978.8 million'],
 ['$505.7 million'],
 ['$320.1 million'],
 ['$354.8 million  ($943 million in 2024 dollars)'],
 ['$504.1 million'],
 ['$474.2 million'],
 ['$519–520.9 million'],
 ['$1.058 billion'],
 ['$357.3 million'],
 ['$482 million'],
 ['$370 million'],
 ['$388.8 million'],
 ['$200.1 million'],
 ['$797.3 million'],
 ['$396.3 million'],
 ['$210.3 million'],
 ['$538–549 million'],
 ['$389.9 million'],
 ['$203.3 million'],
 ['$257 million'],
 ['$225 million'],
 ['$775.4 million'],
 ['$441.3 million'],
 ['$476.5 million'],
 ['$83.3 million'],
 ['$75 million (worldwide  theatrical rental'],
 ['$116 million'],
 ['$173.4 million'],
 ['$250–291 million N 2'],
 ['$58.5 million'],
 ['$102.3 million  (North America)'],
 ['$34.5 million'],
 ['$104.9 million (North America) $85 million (worldwide rentals)'],
 ['$378 million'],
 ['$33.7 million'],
 ['$146 million'],
 ['$34.9 million'],
 ['$79 million'],
 ['$103.1 million (US/Canada)'],
 ['$286.2 million'],
 ['$125 million'],
 ['$72.7 million'],
 ['$57.8 million (US and Canada) $40.3 million (worldwide  theatrical rental'],
 ['$40 million'],
 ['$44.1 million'],
 ['$50 million'],
 ['$60 million (initial release)'],
 ['$50 million'],
 ['$303 million'],
 ['$70 million'],
 ['$50.1 million'],
 ['$6.8 million '],
 ['$5 million (est. US/ Canada rentals) 3,918,690 admissions (France)'],
 ['$17.5 million  (rentals)'],
 ['$30.6 million (equivalent to $319 million in 2022)'],
 ['$20.4 million'],
 ['$122.7 million (initial release)'],
 ['$21.2 million'],
 ['$6,665,592'],
 ['$146.9 million (initial release)'],
 ['$23.7 million'],
 ['$65 million'],
 ['$17.8 million (worldwide)'],
 ['$6.5 million (US/Canada rentals)'],
 ['$40–100 million (estimated)'],
 ['$10,445,000'],
 ['$21.3 million (United States)'],
 ['$8.9 million'],
 ['$8.3 million'],
 ['$267.4 million'],
 ['$164 million'],
 ['$5 million'],
 ["US$2,137,575  (U.S. rentals) US$5,295,526  (int'l rentals)"],
 ['>$390 million'],
 ['$4,460,000 (rentals)'],
 ['$418 million'],
 ['$2.8 million (worldwide rentals)'],
 ['$2.2 million'],
 ['$1,004,000 (domestic rentals) $3.5 million (worldwide rentals)'],
 ['$5.3 million'],
 ['$2,250,000 (rentals)'],
 ['$2.5 million (worldwide rentals)'],
 ['$4.25 million (worldwide rentals)'],
 ['$2,738,993'],
 ['$12 million'],
 ['$3 million  (worldwide rentals)'],
 ['$10,001,781'],
 ['$4.4 million'],
 ['$3.8 million (US and Canada rentals)'],
 ['$5,916,000'],
 ['$10.7 million'],
 ['$2.6 million'],
 ['$2.19 million (U.S. and Canada rentals)'],
 ['$18–22 million  (theatrical rental)'],
 ['$2 million'],
 ['$2,500,000 (US/Canada)'],
 ['$7,500,000'],
 ['$4 million (U.S. and Canada rentals)'],
 ['$1 million'],
 ['$1 million (rentals)  or $2 million'],
 ['$9.2 million  or $4 million (world gross)'],
 ['$16,450,000'],
 ['$1.75 million  theatrical rental']]

In [723]:
def scale_number(value, suffix):
    value = value.replace(',', '.')
    numeric_value = float(value)
    if suffix == 'million':
        return int(numeric_value * 1_000_000)
    elif suffix == 'billion':
        return int(numeric_value * 1_000_000_000)
    else:
        return int(numeric_value)

def extract_and_scale_money_values(item):
    if isinstance(item, list):
        item = item[0]

    pattern = re.compile(r'\$(\d+(?:[.,]\d{3})*(?:\.\d+)?)\s*(million|billion)?')

    def scale_number(value, suffix):
        num = value.replace(',', '.')
        #num = float(value)
        num_splitted = num.split(".")
        if suffix == 'million':
            if "." not in num:
                return int(num) * 1_000_000
            elif len(num_splitted[0]) > 2 and len(num_splitted[1]) > 2:
                return int(num.replace(".", "_"))
            elif len(num_splitted) >= 3:
                return int(num_splitted[0]) * 1_000_000 + int(num_splitted[1]) * 1_000 + int(num_splitted[2])
            else:
                return int(num_splitted[0]) * 1_000_000 + int("".join(num_splitted[1:])) * 1_000
        elif suffix == 'billion':
            if "." not in num:
                return int(num) * 1_000_000_000
            elif len(num_splitted[0]) > 2 and len(num_splitted[1]) > 2:
                return int(num.replace(".", "_"))
            elif len(num_splitted) >= 3:
                return int(num_splitted[0]) * 1_000_000_000 + int(num_splitted[1]) * 1_000_000 + int(num_splitted[2]) * 1_000
            else:
                return int(num_splitted[0]) * 1_000_000_000 + int("".join(num_splitted[1:])) * 1_000_000
        else:
            return int(num.replace(".", "_"))

    matches = pattern.findall(item)
    scaled_values = []
    for match in matches:
        value, suffix = match
        #print(value, suffix)
        scaled_values.append(scale_number(value, suffix))

    if len(scaled_values) == 1:
        return scaled_values[0]
    else:
        return scaled_values
    
df['box_office'] = df.loc[:, 'box_office'].apply(extract_and_scale_money_values).tolist()

In [724]:
df['box_office'] = df.loc[:, 'box_office'].apply(lambda x: x if len(str(x)) >= 4 else x * 1_000_000)

In [725]:
df.head()

,title,directed_by,produced_by,starring,release_date,country,budget,box_office
0,The Birth of a Nation,[D. W. Griffith],"[D. W. Griffith, Harry Aitken]","[Lillian Gish, Mae Marsh, Henry B. Walthall, M...",1915,United States,100000,50000000
1,The Greatest Show on Earth,[Cecil B. DeMille],[Cecil B. DeMille],"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",1916,United States,4000000,36000000
2,This Is Cinerama,"[Mike Todd, Michael Todd, Jr., Walter A. Thomp...","[Robert L. Bendick, Merian C. Cooper]",[Lowell Thomas],1917,United States,1000000,41006000
3,Cinerama Holiday,"[Robert L. Bendick, Philippe De Lacy]",[Unknown],"[Fred Troller, Beatrice Troller , John Marsh, ...",1918,United States,1005000,29006000
4,The Robe,[Henry Koster],[Frank Ross],"[Richard Burton, Jean Simmons, Victor Mature, ...",1919,United States,"[4001000, 4006000]",36000000

In [726]:
# Save our preprocessed dataframe into a csv file
df.to_csv("data/df_preprocessed.csv")